<div class="row tabContentContainer">


    <div class="col-lg-6 col-sm-12">
        <div class="card">




            <div class="card-body mycontainer">

                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align: center;">
                            <ngx-gauge [type]="gaugeType" [value]="gaugeValue" thick=10 size=120 [append]="gaugeAppendText"> </ngx-gauge>
                            <br> Normal
                        </td>

                        <td style="text-align: center;">
                            <ngx-gauge [type]="gaugeType" [value]="gaugeValue" thick=10 size=120 [append]="gaugeAppendText"> </ngx-gauge>
                            <br> Normal
                        </td>
                    </tr>

                    <tr style="    border-style: ridge;
                    border-color: #b1b1b1b8;
                    border-width: 1px;
                    border-left: none;
                    border-right: none; ">
                        <td>Feature</td>
                        <td>This Year</td>
                        <td>Next year predicted</td>
                        <td>Adjustable Next year value</td>
                    </tr>

                    <tr>
                        <td class="fname">FBG: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.FPG"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.FPG"> </td>
                        <td class="fslider">
                            <mat-slider (change)="onSelectionChange()" min="1" max="300" step="0.5" thumbLabel={{1}} [(value)]="user.FPG" style="width: 90%;">
                            </mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td class="fname">HbA1c: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.hbalc"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.hbalc"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="1" max="20" step="0.5" thumbLabel={{1}} [(value)]="user.hbalc" style="width: 90%;">
                            </mat-slider>
                        </td>

                    </tr>
                    <tr>
                        <td class="fname">gamma GTP: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.gammagtp"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.gammagtp"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="1" max="100" step="1" thumbLabel={{1}} [(value)]="user.gammagtp" style="width: 90%;"></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td class="fname">BMI: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.bmi"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.bmi"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="1" max="50" step="1" thumbLabel={{1}} [(value)]="user.bmi" style="width: 90%;">
                            </mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td class="fname">Triglycerides: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.triglycerides"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.triglycerides"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="1" max="300" step="1" thumbLabel={{1}} [(value)]="user.triglycerides" style="width: 90%;"></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td class="fname">Uric acid: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.uricacid"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.uricacid"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="1" max="10" step="0.5" thumbLabel={{1}} [(value)]="user.uricacid" style="width: 90%;"></mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td class="fname">Age: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.age"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.age"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="1" max="110" step="1" thumbLabel={{1}} [(value)]="user.age" style="width: 90%;">
                            </mat-slider>
                        </td>
                    </tr>
                    <tr>
                        <td class="fname">Physical activity: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.physicalactivity">
                        </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.physicalactivity">
                        </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="0" max="7" step="1" thumbLabel={{1}} [(value)]="user.physicalactivity" style="width: 90%;"></mat-slider>
                        </td>

                    </tr>
                    <tr>
                        <td class="fname">Drinking: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.drinking"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.drinking"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="0" max="8" step="1" thumbLabel={{1}} [(value)]="user.drinking" style="width: 90%;"></mat-slider>
                        </td>

                    </tr>
                    <tr>
                        <td class="fname">Smoking: </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.smoking"> </td>
                        <td class="fvalue"><input type="text" (change)="onSelectionChange()" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.smoking"> </td>
                        <td>
                            <mat-slider (change)="onSelectionChange()" min="0" max="6" step="1" thumbLabel={{1}} [(value)]="user.smoking" style="width: 90%;"></mat-slider>
                        </td>


                    </tr>
                </table>
                <tr>
                    <td class="fname">Sex: </td>
                    <td>
                        <mat-radio-group (change)="onSelectionChange()" class="radio" [(ngModel)]="user.sex">
                            <mat-radio-button class="radio" [value]="0">Male</mat-radio-button>
                            <mat-radio-button class="radio" [value]="1">Female</mat-radio-button>
                        </mat-radio-group>

                    </td>
                    <td class="fvalue">

                    </td>
                </tr>
                <tr>
                    <td class="fname">Family history: </td>
                    <td>

                        <mat-radio-group (change)="onSelectionChange()" class="radio" [(ngModel)]="user.familyhistory">
                            <mat-radio-button class="radio" [value]="0">No</mat-radio-button>
                            <mat-radio-button class="radio" [value]="1">Yes</mat-radio-button>
                        </mat-radio-group>

                    </td>

                    <td class="fvalue">

                    </td>
                </tr>
            </div>
        </div>
        <br>
    </div>



    <div class="col-lg-4 col-sm-12">
        <div class="card">

            <div class="card-body mycontainer">

                <tr>
                    <td class="fname">FBG: </td>
                    <td class="fslider">
                        <mat-slider (change)="onSelectionChange()" min="1" max="300" step="0.5" thumbLabel={{1}} [(value)]="user.FPG" style="width: 90%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.FPG"> </td>
                </tr>
                <tr>
                    <td class="fname">HbA1c: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="20" step="0.5" thumbLabel={{1}} [(value)]="user.hbalc" style="width: 90%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.hbalc"> </td>

                </tr>
                <tr>
                    <td class="fname">gamma GTP: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="100" step="1" thumbLabel={{1}} [(value)]="user.gammagtp" style="width: 90%;"></mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.gammagtp"> </td>
                </tr>
                <tr>
                    <td class="fname">BMI: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="50" step="1" thumbLabel={{1}} [(value)]="user.bmi" style="width: 90%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.bmi"> </td>
                </tr>
                <tr>
                    <td class="fname">Triglycerides: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="300" step="1" thumbLabel={{1}} [(value)]="user.triglycerides" style="width: 90%;"></mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.triglycerides"> </td>
                </tr>
                <tr>
                    <td class="fname">Uric acid: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="10" step="0.5" thumbLabel={{1}} [(value)]="user.uricacid" style="width: 90%;"></mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.uricacid"> </td>
                </tr>
                <tr>
                    <td class="fname">Age: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="110" step="1" thumbLabel={{1}} [(value)]="user.age" style="width: 90%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.age"> </td>
                </tr>
                <tr>
                    <td class="fname">Sex: </td>
                    <td>
                        <mat-radio-group (change)="onSelectionChange()" class="radio" [(ngModel)]="user.sex">
                            <mat-radio-button class="radio" [value]="0">Male</mat-radio-button>
                            <mat-radio-button class="radio" [value]="1">Female</mat-radio-button>
                        </mat-radio-group>

                    </td>
                    <td class="fvalue">

                    </td>
                </tr>
                <tr>
                    <td class="fname">Physical activity: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="0" max="7" step="1" thumbLabel={{1}} [(value)]="user.physicalactivity" style="width: 90%;"></mat-slider>
                    </td>

                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.physicalactivity">
                    </td>
                </tr>
                <tr>
                    <td class="fname">Drinking: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="0" max="8" step="1" thumbLabel={{1}} [(value)]="user.drinking" style="width: 90%;"></mat-slider>
                    </td>

                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.drinking"> </td>
                </tr>
                <tr>
                    <td class="fname">Smoking: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="0" max="6" step="1" thumbLabel={{1}} [(value)]="user.smoking" style="width: 90%;"></mat-slider>
                    </td>

                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.smoking"> </td>
                </tr>
                <tr>
                    <td class="fname">Family history: </td>
                    <td>

                        <mat-radio-group (change)="onSelectionChange()" class="radio" [(ngModel)]="user.familyhistory">
                            <mat-radio-button class="radio" [value]="0">No</mat-radio-button>
                            <mat-radio-button class="radio" [value]="1">Yes</mat-radio-button>
                        </mat-radio-group>

                    </td>

                    <td class="fvalue">

                    </td>
                </tr>
            </div>
        </div>
        <br>
    </div>



</div>