<div class="row tabContentContainer">

    <div class="col-lg-12 col-sm-12 " style="text-align: right;">
        <mat-form-field appearance="fill">
            <!-- <mat-label>Select Person</mat-label> -->
            <mat-select (selectionChange)="newUserSelected()" [(value)]="selectedPerson">
                <!-- <mat-option></mat-option> -->
                <mat-option [value]="option.id" *ngFor="let option of diabetesTestUserData">{{ option.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="card">

            <div class="card-body mycontainer">

                <tr>
                    <td class="fname">FBG: <br>
                        <span mat-raised-button [matTooltipClass]="'my-tooltip'" matTooltip="Normal: < 100 mg/dl &#13; Prediabetes: 100 - 125 mg/dl &#13; Prediabetes: > 125 mg/dl" matTooltipPosition="right" class="featureNormalRangeLable">
                            < 100 mg/dl
                       </span>
                    </td>
                    <td class="fslider">
                        <mat-slider (change)="onSelectionChange()" min="1" max="300" step="0.5" thumbLabel={{1}} [(value)]="user.FPG" style="width: 100%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.FPG"> </td>
                </tr>
                <tr>
                    <td class="fname">HbA1c: <br>
                        <span mat-raised-button [matTooltipClass]="'my-tooltip'" matTooltip="Normal: < 5.7% &#13; Prediabetes: 5.7 - 6.4% &#13; Prediabetes: > 6.4%" matTooltipPosition="right" class="featureNormalRangeLable">
                        < 5.7% 
                   </span>
                    </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="20" step="0.5" thumbLabel={{1}} [(value)]="user.hbalc" style="width: 100%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.hbalc"> </td>

                </tr>
                <tr>
                    <td class="fname">gamma GTP:<br>


                        <span mat-raised-button [matTooltipClass]="'my-tooltip'" matTooltip="The normal range is 9–48 units per liter (U/L). Normal values can vary due to age and sex." matTooltipPosition="right" class="featureNormalRangeLable">
                            9 - 48 U/L
                       </span>

                    </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="300" step="1" thumbLabel={{1}} [(value)]="user.gammagtp" style="width: 100%;"></mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.gammagtp"> </td>
                </tr>
                <tr>
                    <td class="fname">BMI: <br>
                        <span mat-raised-button [matTooltipClass]="'my-tooltip'" matTooltip="Underweight: < 18.5 &#13; Normal: 18.5 – 24.9 &#13; Overweight: 25.0 – 29.9 &#13; Obese: >29.9" matTooltipPosition="right" class="featureNormalRangeLable">
                            18.5 – 24.9
                       </span>
                    </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="50" step="1" thumbLabel={{1}} [(value)]="user.bmi" style="width: 100%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.bmi"> </td>
                </tr>
                <tr>
                    <td class="fname">Triglycerides: <br>
                        <span mat-raised-button [matTooltipClass]="'my-tooltip'" matTooltip="Normal : < 150 mg/dL  &#13; Borderline high : 150 - 199 mg/dL &#13; High : 200 - 499 mg/dL &#13; Very high : 500 mg/dL or above " matTooltipPosition="right" class="featureNormalRangeLable">
                            < 150 mg/dL
                       </span>
                    </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="300" step="1" thumbLabel={{1}} [(value)]="user.triglycerides" style="width: 100%;"></mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.triglycerides"> </td>
                </tr>
                <tr>
                    <td class="fname">Uric acid: <br>
                        <span mat-raised-button [matTooltipClass]="'my-tooltip'" matTooltip="Normal values for women: 1.5 - 6.0 mg/dL   &#13; Normal values for men: 2.5 - 7.0 mg/dL" matTooltipPosition="right" class="featureNormalRangeLable">
                            1.5 - 6.0 mg/dL
                       </span>
                    </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="10" step="0.5" thumbLabel={{1}} [(value)]="user.uricacid" style="width: 100%;"></mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.uricacid"> </td>
                </tr>
                <tr>
                    <td class="fname">Age: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="1" max="110" step="1" thumbLabel={{1}} [(value)]="user.age" style="width: 100%;">
                        </mat-slider>
                    </td>
                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.age"> </td>
                </tr>
                <tr>
                    <td class="fname">Sex: </td>
                    <td>
                        <mat-radio-group (change)="onSelectionChange()" class="radio" [(ngModel)]="user.sex">
                            <mat-radio-button class="radio" [value]="0">Male</mat-radio-button>
                            <mat-radio-button class="radio" [value]="1">Female</mat-radio-button>
                        </mat-radio-group>

                    </td>
                    <td class="fvalue">
                        <!-- <input type="text" class="form-control" [(ngModel)]="sex">  -->
                    </td>
                </tr>
                <tr>
                    <td class="fname">Physical activity: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="0" max="7" step="1" thumbLabel={{1}} [(value)]="user.physicalactivity" style="width: 100%;"></mat-slider>
                    </td>

                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.physicalactivity">
                    </td>
                </tr>
                <tr>
                    <td class="fname">Drinking: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="0" max="8" step="1" thumbLabel={{1}} [(value)]="user.drinking" style="width: 100%;"></mat-slider>
                    </td>

                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.drinking"> </td>
                </tr>
                <tr>
                    <td class="fname">Smoking: </td>
                    <td>
                        <mat-slider (change)="onSelectionChange()" min="0" max="6" step="1" thumbLabel={{1}} [(value)]="user.smoking" style="width: 100%;"></mat-slider>
                    </td>

                    <td class="fvalue"><input type="text" (change)="onSelectionChange()" (change)="onSelectionChange()" class="form-control" [(ngModel)]="user.smoking"> </td>
                </tr>
                <tr>
                    <td class="fname">Family history: </td>
                    <td>

                        <mat-radio-group (change)="onSelectionChange()" class="radio" [(ngModel)]="user.familyhistory">
                            <mat-radio-button class="radio" [value]="0">No</mat-radio-button>
                            <mat-radio-button class="radio" [value]="1">Yes</mat-radio-button>
                        </mat-radio-group>

                    </td>

                    <td class="fvalue">
                        <!-- <input type="text" class="form-control" [(ngModel)]="familyhistory"> -->
                    </td>
                </tr>
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-4 col-sm-12">

        <div class="  col-lg-12 col-sm-12 ">
            <div class="row ">

                <div class=" col-lg-6 col-sm-12 card">
                    <!-- <app-final-prediction-header-value style="height: 100px;" class=" " [(input_status)]="statusvalue" [(input_percentage)]="statuspercetage"></app-final-prediction-header-value> -->

                    <div class="row verticalcenter">
                        <div class="col-lg-6  col-sm-12" id="headerGaugeChartContainer" style="margin: auto;">
                            <h2 style="margin: auto; text-align: center; font-weight: 500; color: #4c4b4b;">{{statuspercetage}}%</h2>
                        </div>

                        <div class="col-lg-6 col-sm-12" style="margin: auto; width: 50%; ">
                            <h3 style="margin: 0;"> Status</h3>
                            <hr style="margin-top: 0.4rem !important;font-weight: 700;margin-bottom: 0.4rem !important;margin-right: 0.2rem !important;">
                            <h3 style="margin: 0;font-weight: 500; color: #4c4b4b;">{{statusvalue}}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 " style="padding-right: 0;">
                    <div class="card" style="height: 100px;">
                        <div class="row verticalcenter">
                            <div class="col-4 verticalcenter">
                                <svg class="verticalcenter" xmlns="http://www.w3.org/2000/svg" height="4rem" viewBox="0 0 24 24" width="5rem">
                                <path d="M0 0h24v24H0z" fill="none"/>
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                            </svg>
                            </div>
                            <div class="col-8 verticalcenter">
                                <table>
                                    <tr>
                                        <td>
                                            <h4 style="margin-top:10px; margin-bottom: 0;">Age: {{user.age}}</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4 style="margin-top:10px;margin-bottom: 0.2rem;">Sex: <span *ngIf="user.sex == 0"> M </span>
                                                <span *ngIf="user.sex == 1"> F </span>
                                            </h4>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="card ">
            <div>
                <div class="progressbarcontainer">
                    <mat-progress-bar *ngIf="isloading" mode="indeterminate"></mat-progress-bar>
                </div>
                <app-prediction-pie-chart [(data)]="piechartdata" id="chartID1"></app-prediction-pie-chart>


            </div>
        </div>


        <div>
            <app-barchart class="card" id="hbalcdistribution" [(data)]="age_counts" [(data_label)]="hbalc_bin_edges" chartFeatureName="HbA1c" [(currentValue)]="user.hbalc" [(binIndex)]="hba1cbin_index"></app-barchart>

        </div>
    </div>

    <div class="col-lg-4 col-sm-12 ">
        <app-barchart class="card" id="agedistribution" [(data)]="age_counts" [(data_label)]="age_bin_edges" chartFeatureName="Age" [(currentValue)]="user.age" [(binIndex)]="agebin_index"></app-barchart>
        <app-barchart class="card" id="fpgdistribution" [(data)]="fpg_counts" [(data_label)]="fpg_bin_edges" chartFeatureName="FPG" [(currentValue)]="user.FPG" [(binIndex)]="fpgbin_index"></app-barchart>
        <app-barchart class="card" id="bmidistribution" [(data)]="age_counts" [(data_label)]="bmi_bin_edges" chartFeatureName="BMI" [(currentValue)]="user.bmi" [(binIndex)]="bmibin_index"></app-barchart>
    </div>

</div>